/*Level 0*/
.level-zero .field {
  display: flex;
  flex-direction: row;
}

.level-zero .field .red {
  align-self: flex-start;
}

/* Level 1 */

.level-one .field {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
/* Level 2*/

.level-two .field {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


/* Level 3*/

.level-three .field {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* Level 4 */

.level-four .field {
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.level-four .red {
  align-self: flex-end ;
}

.level-four .blue {
  align-self: center;
}

.level-four .purple {
  align-self: flex-start;
}

/* Level 5 */

.level-five .field {
  display: flex;
}

.level-five .red {
  flex-grow: 2;
}

.level-five .purple {
  flex-grow: 2;
}

/* Level 6 */

.level-six .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}

.level-six .red {
  flex-grow: 2;
}

.level-six .blue {
  flex-grow: 3;
}

.level-six .purple {
  align-self: flex-start;
}

/* Level 7 */

.level-seven .field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Level 8 */

.level-eight .field {
  display: flex;
  flex-wrap: wrap-reverse;
}

.level-eight .field .purple:last-child {
  flex-grow: 2;
}
